<span [matMenuTriggerFor]="rootMenu" #menuTrigger="matMenuTrigger"></span>
<div LongPress (onLongPress)="openMenu(menuTrigger)" (onClick)="view()">
  <mat-icon color="primary" style="font-size: 100px">
    album
  </mat-icon>
</div>

<mat-menu #rootMenu="matMenu" [overlapTrigger]="false">
  <ng-template matMenuContent let-element="element" style="width: 200px !important;text-align: center;">
    <button mat-menu-item>
      <mat-icon>cloud_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-menu-item>
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </button>
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-menu-item>
      <mat-icon>view_headline</mat-icon>
      <span>Properties</span>
    </button>
  </ng-template>
</mat-menu>
